
<div class="container mycontainer">
    <div class="row justify-content-around align-items-end myrow">
        <div class="col-4 mycol">
                <a routerLink="users">
                        <div class="card bg-info text-white">
                                <br>
                                <img class="card-img-top" src="assets/man.png" alt="User Male">
                                <div class="card-body">Users</div>
                        </div>
                </a>
                
        </div>
        <div class="col-4 mycol">
                <a routerLink="ngos">
                        <div class="card bg-info text-white">
                                <br>    
                                <img class="card-img-top" src="assets/ngo.png" alt="NGO">
                                <div class="card-body">NGOs</div>
                        </div>    
                </a>        
        </div>
    </div>
    <div class="row justify-content-around align-items-end myrow">
        <div class="col-4 mycol">
                <a routerLink="requests">
                        <div class="card bg-info text-white">
                                <br>    
                                <img class="card-img-top" src="assets/application.png" alt="NGO">
                                <div class="card-body">Requests</div>
                        </div>
                </a>
        </div>
        <div class="col-4 mycol">
                <a href="#">
                        <div class="card bg-info text-white">
                                <br>    
                                <img class="card-img-top" src="assets/calendar.png" alt="NGO">
                                <div class="card-body">Events</div>
                        </div>
                </a>
        </div>
    </div>
</div>