<div class="container"> 
        <h1>{{name}}</h1>    
        <br>    
      <div class="table-reponsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Request ID</th>
              <th>Request Title</th>
              <th>Required Quantity</th>
              <th>Donated Quantity</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let request of requests">
                <td>{{request.RequestId}}</td>
                <td>{{request.Request_Title}}</td>
                <td>{{request.Number_of_items_Required}}</td>
                <td>{{request.Number_of_items_Donated}}</td> 
              </tr>
          </tbody>
        </table>
      </div>
      </div>