<br>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-8 col-xs-10 offset-lg-4 offset-md-3 offset-sm-2 offset-xs-1">
            <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                <fieldset>
                        <h3 style="text-align: center; color:green" class="top-field">Sign up</h3>
                        <div class="form-group input-icons top-field">
                            <i class="fa fa-user icon"></i>
                            <input 
                            type="text" 
                            name="fullname" 
                            id="fullname" 
                            class="form-control input-field"
                            placeholder="Full Name"
                            ngModel
                            required
                            #fullname="ngModel">
                            <small class="form-text" *ngIf="!fullname.valid && fullname.touched">Please enter your Full Name</small>
                        </div>
                        <div class="form-group input-icons">
                                <i class="fa fa-user icon"></i>
                                <input 
                                type="text" 
                                name="username" 
                                id="username" 
                                class="form-control input-field"
                                placeholder="User Name"
                                ngModel
                                required
                                #username="ngModel">
                                <small class="form-text" *ngIf="!username.valid && username.touched">Please enter your User Name</small>
                            </div>
                            <div class="form-group input-icons">
                                    <i class="fa fa-envelope icon"></i>
                                    <input 
                                    type="email" 
                                    name="email" 
                                    id="email" 
                                    class="form-control input-field"
                                    placeholder="Email"
                                    ngModel
                                    required
                                    email
                                    #email="ngModel">
                                    <small class="form-text" *ngIf="!email.valid && email.touched">Please enter your Email</small>
                                </div>
                            <div class="form-group input-icons">
                                <i class="fa fa-unlock icon"></i>
                                <input 
                                type="password" 
                                name="password" 
                                id="password" 
                                class="form-control input-field"
                                placeholder="Password"
                                ngModel
                                required
                                pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,15}$"
                                #password="ngModel">
                                <small class="form-text text-muted">*Atleast one uppercase, onelowercase, one digit</small>
                                <small class="form-text text-muted">and one special character</small>
                                <small class="form-text" *ngIf="!password.valid && password.touched">Please enter your Password</small>
                            </div>
                            <div class="form-group input-icons">
                                    <i class="fa fa-unlock icon"></i>
                                    <input 
                                    type="password" 
                                    name="confirmpassword" 
                                    id="confirmpassword" 
                                    class="form-control input-field"
                                    placeholder="Confirm Password"
                                    ngModel
                                    required
                                    #confirmpassword="ngModel">
                                    <small class="form-text" *ngIf="!confirmpassword.valid && confirmpassword.touched">Please re-enter your Password</small>
                                    <small class="form-text" *ngIf="confirmpassword.value != password.value && confirmpassword.touched">Password does not match</small>
                                </div>    
                            <div class="form-group input-icons">
                                    <i class="fa fa-mobile icon"></i>
                                    <input 
                                    type="number" 
                                    name="phonenumber" 
                                    id="phonenumber" 
                                    class="form-control input-field"
                                    placeholder="Mobile Number"
                                    ngModel
                                    required
                                    onkeydown="return (event.keyCode !== 69) 
                                    && 
                                    (event.keyCode !== 189)
                                    &&
                                    (event.keyCode !== 187)
                                    &&
                                    (event.keyCode !== 190)"
                                    #phonenumber="ngModel"
                                    pattern="^[0-9]{10}$">
                                    <small class="form-text" *ngIf="!phonenumber.valid && phonenumber.touched">Please enter your 10-digit Mobile Number</small>
                                </div>
                            <button 
                            type="submit" 
                            class="btn btn-success col-sm-4 offset-sm-4 bottom-button"
                            [disabled]="!f.valid">Sign up</button>    
                </fieldset>
            </form>
        </div>
    </div>
</div>